#
# This source file is part of the Stanford Spezi open source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

# App
LOG_LEVEL=info

# Database
DATABASE_HOST=localhost
DATABASE_NAME=vapor_database
DATABASE_USERNAME=vapor_username
DATABASE_PASSWORD=vapor_password

# Keycloak
KEYCLOAK_URL=http://localhost:8180
KEYCLOAK_REALM=spezi-study
KEYCLOAK_CLIENT_ID=spezi-study-server
KEYCLOAK_CLIENT_SECRET=change-me-in-production
KEYCLOAK_RESEARCHER_ROLE=spezistudyplatform-researcher
KEYCLOAK_PARTICIPANT_ROLE=spezistudyplatform-participant
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_DB_NAME=keycloak
